a:link 
{ 
    text-decoration:none; 
} 

body{
    font-family:"Segoe UI";
    font-size:14px;
    margin:10;
}

.board-header{
    display: flex;
    flex-shrink: 0;  
    border-bottom: 0.1px solid rgb(169, 169, 243);  
}

.logo{
    width: 20%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#logo-link {
    display: flex;
}

#logo-img{
    display: flex;
    height: 22px;
}

#logo-texto{
    display: flex;
    margin-left:5px;
    height: 22px;
}

.link{
    width: 20%;
    display: flex;
    align-items: center;
}

.link > a {
    margin: 0px 8px;
}

.link > a:hover{
    background-color: lightskyblue;
}

.options{
    width: 60%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
}

.elementos{
    display: inline-block;    
}

.elementos > img {
    opacity: 0.75;
    width: 48px;
    height: 48px;
}

#search{
    width: 200px;
}

.elementos > img:hover {
    opacity: 1;
}

.elements{
    vertical-align: bottom;
}

.entrada{
    width: 100px;
    height: 25px;
}

.right-bar{
    width: 85%; 
    flex-direction: column;   
}

.board-info{
    display: flex;    
    width: 100%;
    height: 50px;
    border-bottom: 0.1px solid rgb(169, 169, 243); 
}

.team{    
    width: 20%;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.team-name span{
    font-family:"Segoe UI";
    font-size:18px;
}

.team .elementos{
    opacity: 0.75;
    margin: 0px 3px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

.team > .elementos img{
    width: 35px;
    height: 35px;
}

.dates{
    margin: 0px 10px;
    width: 80%;
    justify-content: flex-end;
    display: flex;
    align-items: center;
    font-size:18px;
    text-align: right;
    line-height: 15px;  
    color: rgb(171, 159, 223)
}

.board-controls{
    display: flex;
    height: 35px;
    border-bottom: 0.1px solid rgb(169, 169, 243); 

}

.board-controls .links{
    word-spacing: 8px;
    font-style: bold;
    display: flex;
    align-items: center;
}

.board-controls .links > a{
    padding: 0px 8px;
}

.board-controls .new-work{
    display: flex;
    width: 120px;
    align-items: center;
    border-left: 0.1px solid rgb(169, 169, 243); 
    padding: 0px 8px;
}

.new-work > a{
    opacity: 0.75;
}

.new-work a:hover {
    opacity: 10;
    border-bottom: 3px solid rgb(169, 169, 243);
}

.board-controls .functions{
    width: 75%;
    justify-content:flex-end;
    display: flex;


}

.links > a{
    opacity: 0.75;
}

.links a:hover {
    opacity: 10;
    border-bottom: 3px solid rgb(169, 169, 243);
}

.functions img {
    opacity: 0.75;
}

.functions img:hover {
    opacity: 1;
}

.board-status{
    justify-content: flex-end;
    display: flex;
}

.board-status h3{    
    font-family: "Segoe UI";
    font-size: 14px;
    font-weight: 500;
}

.list-title-new{
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    margin: 0px;
    padding-left: 15px;
}

.list-title-active{
    width: 300px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    margin: 0px;
    padding-left: 15px;
}

.list-title-closed{
    width: 300px;
    display: flex;
    align-items: center;
    width: 300px;
    height: 40px;
    margin: 0px;
    padding-left: 15px;
}

.main{
    display: flex;
    width: 100%;
}


.right-bar{
    display: flex;
}

.side-bar{
    width: 15%;
    background-color: #eaeaea;
    height: 587px;
    display: flex;
    
    align-items: flex-end;
}

.side-bar a{
    display: flex;
    align-items: center;
}

.side-bar a:hover{
    background-color: #cfcfcf;
}

.side-bar .title{
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    height: 35px;
    display: flex;
    align-items: center;
}

.side-bar .project-settings{
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
}

.content{
    display: flex;
    flex-direction: column;   
}

.itens{
    background-color: #cfcfcf;
}

.columns .itens{
    display: flex;  
    justify-content: flex-end;
}

.columns .itens ul{
    list-style-type: none;
}

.columns .itens{
    justify-content: center;  
}

.list-items{
    padding: 0px;
}

.list-items h3{
    font-weight: 400;
}

.listUndefined{
    width: 20%;
    height: 500px;
}

.listNew{
    width: 20%;
    height: 500px;
    border-left: 2px solid rgb(255, 255, 255);    
}

.listActive{
    width: 20%;
    height: 500px;
    border-left: 2px solid rgb(255, 255, 255);
}

.listClosed{
    width: 20%;
    height: 500px;
    border-left: 2px solid rgb(255, 255, 255);  
}

li{
    width: 180px;
    line-height: 30px;   
    border: 1px solid rgb(211, 211, 247);
    background-color: white;
    padding-left: 10px; 
    margin: auto;
    margin-bottom: 4px;

}

li h3{
    margin-left: 10px;
}

.listNew li{
    border-left: 3px solid rgb(59, 59, 153);
}

.listActive li{
    border-left: 3px solid rgb(185, 66, 66);
}

.listClosed li{
    border-left: 3px solid rgb(132, 250, 64);
}

li:hover{
    background-color: rgb(228, 228, 250);
}